<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marash.prayerreminder">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.marash.prayerreminder.MainPage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.MainPage" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.Setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".Setting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.Setting" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.aboutUs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setAlerts"
            android:label="@string/title_activity_set_alerts"
            android:parentActivityName=".Setting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.Setting" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.setAlerts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selectLocation"
            android:label="@string/title_activity_select_location"
            android:parentActivityName=".Setting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.Setting" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.selectLocation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".showSavedAlerts"
            android:label="@string/title_activity_show_saved_alerts"
            android:parentActivityName=".Setting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.Setting" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.showSavedAlerts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selectSound"
            android:parentActivityName=".Setting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.Setting" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.selectSound" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sound_selection"
            android:label="@string/title_activity_sound_selection"
            android:parentActivityName=".Setting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.Setting" />
        </activity>
        <activity
            android:name=".FirstUsage"
            android:parentActivityName=".MainPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.MainPage" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.FirstUsage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FirstUsageSecondPage"
            android:parentActivityName=".FirstUsage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marash.prayerreminder.FirstUsage" />

            <intent-filter>
                <action android:name="com.marash.prayerreminder.FirstUsageSecondPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.marash.prayerreminder.ExitApplication"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"/>

        <activity android:name=".TimesUpActivity"/>
        <receiver android:name=".AlarmReciever" >
            <intent-filter>
                <action android:name="com.marash.prayerreminder.AlarmReciever"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".mainAlarmReciever">
            <intent-filter>
                <action android:name="com.marash.prayerreminder.mainAlarmReciever"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
